
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #004B8D, #0077B6);
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding: 10px 20px;
}

header img {
  height: 70px;
}

h1 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
  color: #ffffff;
}

main {
  padding: 20px;
}
